

body {
    font-family: 'Roboto', sans-serif;
    position:relative;
    padding-bottom: 100px;
    min-height: 937px;
}
/*Todo lo que es header*/
.header-container {
    width: 100%;
    height: 75px;
    background-color: #000000;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,4);
}

.containerInicio {
    width: 90%; 
    margin: auto;
}

.logo {
    float: left;
    line-height: 20px;
}

.logo h1 {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    cursor: default;
}

.menu {
    display: flex;
    justify-content: flex-end;
      
}

.menu a {
    color: #fff;
    text-decoration:none;
    line-height: normal;
    font-size: 20px;
    /* transition: all 500ms ease; */
    border-bottom: 4px solid transparent ;
}

a:hover {
    color: #fff;
    border-bottom: 4px solid #fff;
    
}



ul {
    list-style-type: none;
    display: flex; 
}

li {
    padding: 15px 30px;
    
}
/*Fin todo lo que es header*/

/*Seccion Inicio*/

.seccionInicio {
    /* display: flex; */
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cajaImgInicio {
    width: 70%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.cajaImgInicio img {
    width: 100%;
    height: 100%;
}


/*Sobre mi*/
.containerSobre {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.textoSobre {
    background-color: white;
    height: auto;
    width: 18%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 1rem 2rem;
}


.textoSobre h2 {
    margin-bottom: 1rem;
}

.textoSobre h4 {
    font-weight: bold;
    line-height: 1.5;
}

.textoSobre p {
    font-size: 20px;
}

.contenedorRedes {
    display: flex;
    justify-content: space-evenly;
    width: auto;
}

.contenedorRedes a {
   text-decoration: none;
   color: #000000;
   border-bottom: 4px solid transparent;
}

.contenedorRedes a:hover {
    border-bottom: 6px solid #000000;
}


 /*Seccion proyectos*/
.seccionProyectos {
    width: 100%;
    background-color: #000000;
    color: #fff;
}

.contenedorProyectos {
    display: flex;
    justify-content: center;
}
.animate__animated.animate__flash  {
    --animate-duration:3s;
    animation-iteration-count: infinite;
}


/*Skills*/
.seccionSkills {
    margin-bottom: 70px;
}

.seccionSkills h2 {
    margin-bottom: 20px;
}

.box-shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    background-color: #000000;
}

.card-title {
    color: #fff;
}

.card-text {
    color:#fff
}



/*Contacto*/

.seccionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerForm {
    text-align: center;
    background-color: #000000;
    border-radius: 5px;
    width: 80%;
    margin-top: 30px;
    padding: 50px;
    
}

.headerForm h3 {
    color: white;
    text-transform: uppercase;
}

.formContacto {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 30px;
    margin: 0 0 40px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.formRow {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;   
}

.formRow input[type="text"],
.formRow input[type="email"] {
    border-radius: 3px;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    width: 100%;
    padding:7px;
    font-size: 14px;
    outline: none;  
}

textarea {
    width: 100%;
    outline: none;
    border: 1px solid black;
}
.formRow label {
    margin-bottom: 8px;
    margin-top: 10px;
}
.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
 button {
    text-align: center;
    align-self: center;
    margin-top: 10px;
    width: 20%;
    overflow: hidden; 
    background: none;
}

button:hover {
    background-color: black;
    color: white;
}

/*Footer*/

footer {
    background-color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 40px;
}

footer a {
    text-decoration: none;
}

.redes {
    font-size: 25px;
    margin-right: 15px;    
}



footer p {
    color: white;
    font-size:20px;
    text-transform: uppercase;
}


/*Generales*/


.espacioSup {
    padding-top: 80px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    font-size: 45px;
}



/*Estilos boton menu*/
#btn-menu {
    display: none;
}

.boton {
    float: right;
    display: none;
}

.boton label {
    color: #fff;
    background: #2a343e;
    padding: 1px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

hr {
    size: 5px;
}

 /*Querys especificas seccion sobre mi*/
@media only screen and (max-width:1921px) {
    .imgSobre {
        width: 50%;
    }
    
    .containerSobre {
        justify-content: center;
    }
    .textoSobre {
        width: 23%;
    }
}

@media only screen and (max-width:1433px) {
    .imgSobre {
        width: 60%;
    }
    
    .containerSobre {
        justify-content: space-evenly;
    }
    .textoSobre {
        width: 30%;
    }
}

/*Fin querys especificas seccion sobre mi*/


/*codigo para dispositivos moviles*/


@media only screen and (min-width:1030px) {
    .menu {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (min-width:250px) and (max-width:1030px) {
    .header-container {
        height: 60px;
    }

    .logo, .boton {
        line-height: 58px;
    }
    
    .logo h1 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .menu {
        position: absolute;
        background: #234;
        width: 100%;
        height: 45%s;
        top: 60px;
        left: 0;
        /* transition:all 500ms ease; */
        transform: translateX(-100%);
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }
  
    .boton {
        display: block;
        
    }

    .headerForm {
        width: 90%;
    }

    .formContacto {
        width: 90%;
    }
    .botones button {
        width: auto;
    }

    .containerSobre {
        flex-direction: column;
          
}
    .imgSobre {
        width: 100%;
        
    }

    .imgSobre img {
        width: 100%;
    }
    .textoSobre {
        width: 100%;
        height: auto;
    
    }
}

/*Fin codigo para dispositivos moviles*/

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */